<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Cinder Preferences"
            class="org.art_core.dev.cinder.prefs.CinderPrefPage"
            id="org.art_core.dev.cinder.preferencesCinderPrefPage">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.art_core.dev.cinder.prefs.CinderPrefInit">
      </initializer>
   </extension>
	<extension
         point="org.eclipse.ui.views">
      <category
            name="Cinder"
            id="org.art_core.dev.cinder">
      </category>
      <view
            name="Cinder JF View"
            icon="icons/face-monkey.gif"
            category="org.art_core.dev.cinder"
            class="org.art_core.dev.cinder.views.JFInputView"
            id="org.art_core.dev.cinder.views.JFInputView">
      </view>
   </extension>
 
</plugin>
